In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
import re

In [9]:
df1 = pd.read_csv('datasets/train.txt', header=None, sep=";", names=['text', 'label'])

df1['label'] = df1['label'].map({'sadness': 0, 'joy': 1, 'love': 2, 'anger': 3, 'fear': 4, 'surprise': 5})
df1.head(3)

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3

In [19]:
df2 = pd.read_csv('datasets/text.csv')
df2.drop(['Unnamed: 0'], axis=1, inplace=True)
df2.head(3)

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4

In [11]:
# Concatenate the two dataframes
df = pd.concat([df1, df2], axis=0)
df.reset_index(drop=True, inplace=True)
df.shape
df.head(3)

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3

In [12]:
#Various emotions in the dataset
df['label'].value_counts()

label
1    146429
0    125853
3     59476
4     49649
2     35858
5     15544
Name: count, dtype: int64

In [13]:
def check_html(text):
    return bool(BeautifulSoup(text, "html.parser").find())

def check_url(text):
    urls = re.findall(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', text)
    return len(urls)

total_html_found = 0
total_urls_found = 0

for i in range(len(df['text'])):
    text = df['text'][i]
    if check_html(text):
        total_html_found += 1
    total_urls_found += check_url(text)

print('Total HTML tags found:', total_html_found)
print('Total URLs found:', total_urls_found)

Total HTML tags found: 0
Total URLs found: 0

In [14]:
def remove_html_tags(text):
    soup=BeautifulSoup(text,'html.parser')
    return soup.get_text()
df['text']=df['text'].apply(remove_html_tags)
df.head()

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

In [17]:
def remove_urls(text):
    return re.sub(r'http\S+|www\S+','',text)
df['text']=df['text'].apply(remove_urls)
df.head()

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

In [16]:
# save the dataset
df.to_csv('datasets/emotion_dataset.csv', index=False)